html {
    min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	min-height: 100vh; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */
	font-family: 'Montserrat', sans-serif;
    color: $black-color;
    font-size: 16px;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    
    &.body--lock {
        overflow: hidden;
    }
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

section {
	position: relative;
}

/* Desktop */
.container {
	width: 1140px;    
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
    &--fluid {
        max-width: unset;
    }
    &--no-padding {
        padding: 0;
    }

    /* Tablet Big */
    @media (max-width: 1139px) {
        width: 900px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        width: 768px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 320px;
    }
}

/* Utility */
.none {
	display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Sticky Footer */
.footer {
	margin-top: auto; /* sticky footer */

	/* Just for fun */
	// text-align: center;
	// background-color: #e2e2e2;
	padding: 50px 0;
}