// Card-big
.card {
    max-width: 540px;    
    /* Tablet Big */
    @media (max-width: 1139px) {
        max-width: 420px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        max-width: 354px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        max-width: 290px;
    }
}

.card__image {
    max-height: 370px;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(255, 221, 85, 0.75);
        transform: translateY(100%);
        transition: 0.5s;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3;
        color: #fff;
        padding: 14px 20px;
        background-color: rgba(239, 104, 87, 1);
        border-radius: 80px;
        z-index: 2;
        opacity: 0;
        transition: 0.7s;
    }
    /* Tablet Big */
    @media (max-width: 1139px) {
        max-height: 288px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        max-height: 180px;
    }
}

.card:hover .card__image::before {
    transform: translateY(0);
}

.card:hover .card__image span {
    opacity: 1;
}

.card__image img {
    width: 540px;
    height: 370px;
    object-fit: cover;
    /* Tablet Big */
    @media (max-width: 1139px) {
        width: 420px;
        height: 288px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        width: 354px;
        height: 180px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;
        height: 180px;
    }
}

.card__description {
    padding-top: 20px;  
    /* Tablet Small */
    @media (max-width: 899px) {
        padding-top: 10px;
    }
}

.card__title {
    margin-bottom: 8px;    
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;    
    color: #000;
    &:hover {
        color: rgba(239, 104, 87, 1);
    }
    /* Tablet Big */
    @media (max-width: 1139px) {
        margin-bottom: 6px;
        font-size: 24px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        margin-bottom: 4px;
        font-size: 18px;
    }
}

.card__text {   
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    &:hover {
        color: rgba(239, 104, 87, 1);
    }
    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 16px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        font-size: 14px;
    }
}

// Card-small
.card--small {
    max-width: 350px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        max-width: 270px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        max-width: 226px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        max-width: 290px;
    }
}

.card__image--small {
    max-height: 220px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        max-height: 170px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        max-height: 140px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        max-height: 180px;
    }
}

.card__image--small img {
    width: 350px;
    height: 220px;
    object-fit: cover;
    /* Tablet Big */
    @media (max-width: 1139px) {
        width: 270px;
        height: 170px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        width: 226px;
        height: 140px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;
        height: 180px;
    }
}

.card__description--small {
    padding-top: 16px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        padding-top: 10px;
    }
}

.card__title--small {    
    margin-bottom: 6px;
    font-size: 24px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        margin-bottom: 4px;
        font-size: 18px;
    }
}

.card__text--small {    
    font-size: 18px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 14px;
    }    
}