// Header-top
.header-top {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;        
    position: sticky;
    top: -40px;
    z-index: 1;
}

// Не сходится perfect pixel
// .header-top .container {
//     /* Mobile */
//     @media (max-width: 767px) {
//         width: 100%;
//     }
// }

.header-top__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__mobile{
    display: none;
    /* Tablet Small */
    @media (max-width: 899px) {
        display: flex;
    }    
}

.header-top__nav-contacts {
    display: none;
    /* Tablet Small */
    @media (max-width: 899px) {
        display: block;
    }    
}

.header-top__nav {
    /* Tablet Small */
    @media (max-width: 899px) {
        position: fixed;
        display: flex;
        justify-content:flex-end;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        background-color: rgba(37, 73, 116, 0.8);
        z-index: -1;
    }
}

.header-top__nav-content {
    /* Tablet Small */
    @media (max-width: 899px) {
        background-color: #fff;
        padding-top: 30px;
        padding-left: 15px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header-top__nav-content ul {
    display: flex;
    column-gap: 100px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        column-gap: 50px;        
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        flex-direction: column;
        align-items: flex-start;
    }

}

.header-top__nav-item {    
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #000;    
    transition: 0.5s;
    &:hover {     
        color: rgb(247, 103, 25);
    }
    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 18px;        
    }  
}

.header-top__mobile { 
    /* Tablet Small */
    @media (max-width: 899px) {
        // display: unset;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        color: #000;
    }
}

.header-top__social {
    display: flex;
    align-items: center;
    column-gap: 26px;
    
    /* Tablet Small */
    @media (max-width: 899px) {
        display: none;            
    }
}

.header-top__social a + a {
    /* Tablet Big */
    @media (max-width: 1139px) {
        width: 36px;
        height: 36px;        
    }
}