// Header
.header {
    padding-top: 40px;        
    padding-bottom: 60px;    

    /* Tablet Small */
     @media (max-width: 899px) {
        padding-top: 12px;
        padding-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-top: 10px;
    }
}

// Header-title
.header-title__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Mobile */
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.header-title__content {
    padding-top: 10px;
    width: 542px;
    
    /* Tablet Big */
    @media (max-width: 1139px) {
        padding-top: 0px;
        width: 420px;
    }

    /* Tablet Small */
     @media (max-width: 899px) {
        padding-top: 28px;
        width: 354px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-top: 0px;
        width: 100%;
    }
}

.header-title__name {
    margin-bottom: 30px;

    /* Tablet Big */
    @media (max-width: 1139px) {
        margin-bottom: 20px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        margin-bottom: 10px;        
    }

    /* Mobile */
    @media (max-width: 767px) {
        margin-bottom: 16px;
    }
}

.header-title__text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;    
    color: #000;

    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 18px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        font-size: 16px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        display: none;
    }
}

.header-title__text-mobile {
    display: none;
    
    /* Mobile */
    @media (max-width: 767px) {
        display: unset;
    }
}

.header-title__buttons > * + * {
    margin-left: 16px;
}

.header-title__img {
    box-shadow: 40px 40px rgba(255, 255, 255, 0.5);
    img {
        width: 475px;
        height: 410px;
        object-fit: cover;
    }
    
    /* Tablet Big */
    @media (max-width: 1139px) {
        box-shadow: unset;
        img {
            width: 376px;
            height: 325px;
        }

        /* Mobile */
        @media (max-width: 767px) {
            img {
                margin-bottom: 10px;
            }        
        }
    }

    /* Tablet Small */
     @media (max-width: 899px) {
        img {
            width: 290px;
            height: 250px;
        }
    }
}

// Header-banner
.header-banner {    
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -160px;
    position: relative;
    z-index: -1;
    
    /* Tablet Big */
    @media (max-width: 1139px) {
        max-width: 900px;
        margin-top: -80px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        max-width: 768px;
        margin-top: -90px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        max-width: 320px;
        margin-top: 0px;        
    }
}

// Header-skills
.header-skills {    
    padding-top: 70px;
    margin-top: -70px;

    /* Tablet Big */
    @media (max-width: 1139px) {
        padding-top: 56px;              
    }

    /* Mobile */
    @media (max-width: 767px) {
        padding-top: 80px;       
    }
}

.header-skills__row {
    display: flex;
    column-gap: 90px;
    
    /* Tablet Big */
    @media (max-width: 1139px) {
        column-gap: 50px;       
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        column-gap: 30px;
    }

    /* Mobile */
     @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 24px;
    }
}

.header-skills__left {
    /* Tablet Small */
    @media (max-width: 899px) {
        width: 354px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 100%;
    }
}

.header-skills__title {
    margin-bottom: 30px;

    /* Tablet Big */
    @media (max-width: 1139px) {
        margin-bottom: 18px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.header-skills__list li::before {
    content: "\2014" "\2009";
    
    /* Tablet Small */
    @media (max-width: 899px) {
        content: none;
    }
}

.header-skills__list-item {
    margin-bottom: 10px;  
    font-weight: 400;
    font-size: 22px;
    line-height: 1.3;    
    color: #000;
    
    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 18px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        font-size: 16px;
    }
}

.header-skills__right .social-block {
    margin-bottom: 20px;
}