// Header-top
.header-top {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;        
    position: sticky;
    top: -40px;
    z-index: 1;
}

// Не сходится perfect pixel
// .header-top .container {
//     /* Mobile */
//     @media (max-width: 767px) {
//         width: 100%;
//     }
// }

.header-top__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__nav {
    display: flex;
    column-gap: 100px;

    /* Tablet Big */
    @media (max-width: 1139px) {
        column-gap: 50px;        
    }
}

.header-top__nav-item {    
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #000;    
    transition: 0.5s;
    &:hover {     
        color: rgb(247, 103, 25);
    }

    /* Tablet Big */
    @media (max-width: 1139px) {
        font-size: 18px;        
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        display: none;
    }    
}

.header-top__nav-mobile {   
    display: none;

    /* Tablet Small */
    @media (max-width: 899px) {
        display: unset;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        color: #000;
    }
}

.header-top__social {
    display: flex;
    align-items: center;
    column-gap: 26px;  
}

.header-top__social a + a {
    /* Tablet Big */
    @media (max-width: 1139px) {
        width: 36px;
        height: 36px;        
    }

    /* Tablet Small */
    @media (max-width: 899px) {        
        width: 40px;
        height: 25px;        
    }
}

.header-top__social-button {
    /* Tablet Small */
    @media (max-width: 899px) {
        display: none;
    }        
}

.header-top__social-mobile {
    display: none;

    /* Tablet Small */
    @media (max-width: 899px) {
        display: unset;            
    }
}