.portfolio {
    padding-top: 80px;    
    padding-bottom: 90px;
    background-image: linear-gradient(0deg, #F5FBFF, #F5FBFF);    
    /* Tablet Big */
    @media (max-width: 1139px) {        
        padding-top: 40px;
        padding-bottom: 60px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        padding-top: 38px;
        padding-bottom: 40px;
    }
}

.portfolio__header {
    margin-bottom: 30px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        margin-bottom: 40px;
        padding-top: 30px;    
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        margin-bottom: 30px;
    }
}

.portfolio-mix__btn {
    margin-bottom: 34px;
    display: flex;
    column-gap: 70px;    
    button {
        font-size: 24px;    
        font-weight: 700;
        line-height: 1.3;
        color: #000;
    }
}

button.control-active {
    color: #9EC2D0;
}


.portfolio__projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;
    /* Tablet Big */
    @media (max-width: 1139px) {
        row-gap: 40px;
    }
    /* Tablet Small */
    @media (max-width: 899px) {
        row-gap: 20px;
    }
    /* Mobile */
    @media (max-width: 767px) {
        row-gap: 30px;
    }
}