.portfolio {
    padding-top: 80px;    
    padding-bottom: 90px;
    background-image: linear-gradient(0deg, #F5FBFF, #F5FBFF);
    
    /* Tablet Big */
    @media (max-width: 1139px) {        
        padding-top: 40px;
        padding-bottom: 60px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        padding-top: 38px;
        padding-bottom: 40px;
    }
}

.portfolio__header {
    margin-bottom: 65px;

    /* Tablet Big */
    @media (max-width: 1139px) {
        margin-bottom: 40px;    
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        margin-bottom: 30px;
    }
}

.portfolio__projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;

    /* Tablet Big */
    @media (max-width: 1139px) {
        row-gap: 40px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
        row-gap: 20px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        row-gap: 30px;
    }
}